:root{
    --bg: #1D2D3C;
    --primary-blue: #112030;
    --color-logo: #18D860;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 80%;
    max-width: 100%;
}

body{
    background: var(--bg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 80px;
    padding-top: 20px;
}

h4{
    font-size: 1.4rem;
    font-weight: bold;
}
h5{
    font-size: 1rem;
}
h6{
    font-weight: bold;
    font-size: 1.3rem;
}

header{
    background-color: var(--primary-blue);
    min-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 15px 0;
    .container{
        display: flex;
        align-items: center;
    }
    .logo{
        width: fit-content;
        i{
            font-size: 3.5rem;
            color: var(--color-logo);
        }
    }
}

main{
    .container{
        .row{
            .col{
                padding: 10px 60px;
                margin-bottom: 15px;
                .gm_card{
                    height: 390px;
                    background-color: var(--primary-blue);
                    padding: 25px;
                    color: whitesmoke;
                    border-radius: 10px;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 0px 18px 19px -8px rgb(27, 27, 32);
                        transition: box-shadow .3s;
                    }
                }
            }
        }
    }
    .info{
        background-color: var(--primary-blue);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        border-radius: 20px;
        border: 2px solid white;
        width: 50vw;
        height: 45vh;
        color: whitesmoke;
        .container{
            .row{
                display: flex;
                align-items: center;
                .col{
                    &:first-child{
                        display: flex;
                        align-items: center;
                        width: 45%;
                    }
                    &:last-child{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 55%;
                    }
                }
                .title,
                .author,
                .year{
                    font-size: 1.5rem;
                    & div{
                        font-size: 1.8rem;
                        color: var(--color-logo);
                        margin-top: 10px;
                    }
                }
            }
            img{
                width: 100%;
            }
        }
    }
}