<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css' integrity='sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==' crossorigin='anonymous' />

    <!-- vue -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.23/vue.global.js' integrity='sha512-nG1pzAdB6onYkrCldpnkwHzZw7H3IUL4RLhinI7XEioaM8PHQDeHD6zPf+tog9WlKLAojc4zddvkTUpHvAZbew==' crossorigin='anonymous'></script>

    <!-- axios -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.js' integrity='sha512-pmaEGtUAy7E5gRmwjLqQAD/QWw0dL4Z59b6b+2HQkqQwQ+HcPLLb9/KbUNo5zr10WuXmbivK9nYVZOyDkMgZMg==' crossorigin='anonymous'></script>

    <!-- fontawesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous'/>


    <link rel="icon" href="img//icons8-spotify-48.png">
    <title>PHP Dischi JSON</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app">
        <header>
            <div class="container d-flex align-items-center ">
                <div class="logo">
                    <i class="fa-brands fa-spotify"></i>
                </div>
                <div class="ms-4">
                    <h1 class="m-0">La mia playlist</h1>
                </div>
            </div>
        </header>
        <main class="position-relative">
            <div @click="closeInfoCard()" v-if="showInfo" class="blur"></div>

            <!-- add disc -->
            <div class="container add-disc mb-5 text-white">
                <div class="row">
                    <div class="col mb-0 text-center">
                        <h2>Aggiungi un disco</h2>
                    </div>
                </div>
                <div class="row row-cols-2">
                    <div class="col">
                        <div class="mb-3">
                            <label for="nameDisc">Nome disco</label>
                            <input
                                v-model.trim="newDisc.title"
                                type="text"
                                class="form-control"
                                id="nameDisc"
                                placeholder="Titolo"
                            >
                        </div>
                        <div>
                            <label for="nameAuthor">Nome autore</label>
                            <input
                                v-model.trim="newDisc.author"
                                type="text"
                                class="form-control"
                                id="nameAuthor"
                                placeholder="Autore"
                            >
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="year">Anno</label>
                            <input
                                v-model.trim="newDisc.year"
                                type="text"
                                class="form-control"
                                id="year"
                                placeholder="Anno"
                            >
                        </div>
                        <div>
                            <label for="poster">Poster</label>
                            <input
                                v-model.trim="newDisc.poster"
                                type="text"
                                class="form-control"
                                id="poster"
                                placeholder="Immagine"
                            >
                        </div>
                    </div>
                    <div class="col">
                        <button @click.stop="addNewDisc" class="btn w-25" type="button">Aggiungi</button>
                    </div>
                </div>
            </div>

            <!-- disc list -->
            <div class="container">
                <div class="row row-cols-3">
                    <!-- col -->
                    <div
                        v-for="(card, cardId) in listaDischi"
                        :key="cardId"
                        class="col"
                        @click.stop="activeId = cardId; getInfoCard()"
                    >
                        <div class="gm_card text-center position-relative">
                            <div class="card-img">
                                <img :src="card.poster" :alt="card.title">
                            </div>
                            <div class="card-title mt-3 mb-1">
                                <h4>{{ card.title }}</h4>
                            </div>
                            <div class="card-author">
                                <h5>{{ card.author }}</h5>
                            </div>
                            <div class="card-year">
                                <h6>{{ card.year }}</h6>
                            </div>
                            <!-- icons -->
                            <div class="icons">
                                <div class="like">
                                    <button
                                        @click.stop="toggleFavourite(cardId)"
                                        class="btn text-white"
                                        :class="{'isLike': newDisc.isFavourite}"
                                        type="button"
                                    >
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </div>
                                <div class="trash text-end">
                                    <button @click.stop="removeDisc(cardId)" class="btn text-white" type="button">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /col -->

                    <!-- info card -->
                    <div
                        v-if="showInfo"
                        class="info"
                    >
                        <div class="container h-100">
                            <div class="row row-cols-2 h-100">
                                <div class="col text-center">
                                    <div class="poster">
                                        <img :src="listaDischi[activeId].poster" :alt="listaDischi[activeId].title">
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <div class="title">
                                        <div>Title</div>
                                        {{listaDischi[activeId].title}}
                                    </div>
                                    <div class="author">
                                        <div>Author</div>
                                        {{listaDischi[activeId].author}}
                                    </div>
                                    <div class="year">
                                        <div>Year</div>
                                        {{listaDischi[activeId].year}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    
                </div>
            </div>

        </main>
    </div>

    <script src="script.js"></script>
</body>

</html>